<section>
    <h2>Create New Blog Post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-content">Post</label>
            <textarea id="post-content" name="post-content"></textarea>
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

<script src="/javascript/add-post.js"></script>