<section>
    <div class="form-heading">
        <h1>Log In</h1>
    </div>
    <form class="login-form">
        <div>
            <label for="email-login">email:</label>
            <input type="text" id="email-login" />
        </div>
        <div>
            <label for="password-login">password:</label>
            <input type="password" id="password-login" />
        </div>
        <div>
            <button type="submit">login</button>
        </div>
    </form>
</section>


<section>
    <div class="form-heading">
        <h1>Sign Up</h1>
    </div>
    <form class="signup-form">
        <div>
            <label for="username-signup">username:</label>
            <input type="text" id="username-signup" />
        </div>
        <div>
            <label for="email-signup">email:</label>
            <input type="text" id="email-signup" />
        </div>
        <div>
            <label for="password-signup">password:</label>
            <input type="password" id="password-signup" />
        </div>
        <div>
            <button type="submit">signup</button>
        </div>
    </form>
</section>

<script src="/javascript/login.js"></script>